/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---- stats.js ---- */

.main-sentances {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: #0054A6;
    
}

@media (max-width: 767px) {
     .main-sentances {
        font-size: 20px !important;
    }
     html{
         font-size:18px!important;
     }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.auto-type {
    color: #69b3e3;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 200px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

    .float:hover {
        scale: 1.5;
    }

.my-float {
    margin-top: 16px;
}


@media (max-width: 767px) {
    .mobile-links li {
        width: 100%;
    }

    .mobile-links a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }
}


.active-link {
    color: #69b3e3 !important;
}