html {
    position: relative;
    min-height: 100%;
}



body {
    font-family: "Noto Kufi Arabic", Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

    nav a {
        display: block;
        background-color: white;
    }

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((-620px * 6) - 375px));
    }
}

@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-500px * 10));
    }
}

.slider {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(620px * 12);
    justify-content: space-between;
}

.slide {
    height: 150px;
    width: 620px;
    justify-content: center;
    display: flex;
    align-items: start;
}



.slider1 {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-track1 {
    animation: scroll1 30s linear infinite;
    display: flex;
    width: calc(500px * 20);
}

.slide1 {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.col-xs-6 {
    position: relative;
    z-index: 1;
}

.card {
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}

    .card:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

        .card:hover .card-img svg {
            fill: #69b3e3 !important;
            width: 80px !important;
            height: 80px !important;
        }

        .card:hover .card-body h4 {
            color: #69b3e3 !important;
        }





/*Mind-blowing, animated SVG background built with CSS*/
.pt-custom-1 {
    padding-top: 70px;
}

.pt-custom-2 {
    padding-top: 70px;
}

@media (min-width: 1199.98px) {
    .pt-custom-1 {
        padding-top: 200px;
    }

    .pt-custom-2 {
        padding-top: 100px;
    }
}

#svg-background {
    z-index: -10;
    height: 900px;
}



.fade {
    animation-duration: 1s;
    animation-fill-mode: both;
    padding: auto;
    animation-name: fade-in;
}

.fade-delay-15 {
    animation-delay: 0.15s;
}

.fade-delay-30 {
    animation-delay: 0.30s;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.main-sentances {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: #0054A6;
}



.auto-type {
    color: #69b3e3;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20vh;
    right: 20px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

    .float:hover {
        scale: 1.5;
    }

.my-float {
    margin-top: 16px;
}


@media (max-width: 767px) {
    .main-sentances {
        font-size: 2rem !important;
    }


    .mobile-links li {
        width: 100%;
    }

    .mobile-links a {
        display: block;
        padding: 10px;
        font-size: 18px;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0
    }
}

