html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Noto Kufi Arabic", Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

nav a {
        display: block;
        background-color: white;
}






body {
    align-items: center;
    justify-content: center;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc((-620px * 6) - 375px));
    }
}

.slider {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(620px * 12);
    justify-content: space-between;
}

.slide {
    height: 150px;
    width: 620px;
    justify-content: center;
    display: flex;
    align-items: start;
}






@keyframes scroll1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-500px * 10));
    }
}

.slider1 {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slide-track1 {
    animation: scroll1 30s linear infinite;
    display: flex;
    width: calc(500px * 20);
}

.slide1 {
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.col-xs-6 {
    position: relative;
    z-index: 1;
}

.card {
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
        cursor:pointer;
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2;
        
}




