@model Person
@{
    Layout = "~/Views/Shared/_Funnel.cshtml";
}


    <div class="container my-auto">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
                <div class="panel header_2 center">
                    <figure class="add_bottom_30">
                        <a href="https://TechNexus.ae">
                            <img src="~/img/TechNexus/TechNexus-MKT-App.svg" width="100%" height="100%" alt="">
                        </a>
                    </figure>
                    <h4>
                        <p>
                            لتحميل مراحل بناء و تطوير منتج تقني ،

                        </p>
                        <p>
                            يرجى ادخال البيانات التالية :
                        </p>
                    </h4>
                    <br />

                    <form asp-action="Create" asp-controller="Funnel" id="main-form" class="input_style_2">


                        @*<div asp-validation-summary="All" class="input-validation-error" class="text-danger"></div>*@
                        <div class="mb-3">
                            <label asp-for="PersonName"></label>
                            <input asp-for="PersonName" type="text" required class="form-control" />
                            <span asp-validation-for="PersonName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PersonPhone"></label>
                            <input asp-for="PersonPhone" type="tel" required class="form-control" />
                            <span asp-validation-for="PersonPhone" class="text-danger"></span>

                        </div>
                        <div class="mb-3">
                            <label asp-for="PersonEmail"></label>
                            <input asp-for="PersonEmail" type="email" required class="form-control" />
                            <span asp-validation-for="PersonEmail" class="text-danger"></span>

                        </div>
                        <br />
                        <div class="form-group terms mb-4">
                        </div>

                        <div class="form-group terms mb-4">
                            <label class="container_check">
                                أوافق على <a href="#" data-bs-toggle="modal" data-bs-target="#terms-txt">الإشتراك برسائل البريد الإلكتروني</a>.
                                <input type="checkbox" asp-for="PersonSubscription" checked name="PersonSubscription" id="agree">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <button id="submit-button" type="submit" class="btn_1 full-width">حمله الآن!</button>


                    </form>

                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /background-image -->
    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="termsLabel">الإشتراك</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>اذا كنت ترغب بمعرفة المزيد عن <strong>بناء المنتجات التقنية</strong>, يرجى الإشتراك.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_1" data-bs-dismiss="modal">إغلاق</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    



