@{
        Layout = "~/Views/Shared/_Client.cshtml";
        ViewData["Title"] = "شكراً لك";
}


    <div class="background-image" data-background="url(../img/betler/main_bg_3.jpg)">
        <div class="min-vh-100 d-flex flex-column opacity-mask" data-opacity-mask="rgba(0, 84, 166, 0.6)">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
                        <div class="panel header_2 center">
                            <figure class="add_bottom_30">
 <a asp-action="BuildAppGuid" asp-controller="Funnel">
     <img src="~/img/TechNexus/TechNexus-MKT-App.svg" width="100%" height="100%" alt="">
                                </a>
                            </figure>


<div class="text-center">
                                <h1>اهلاً بك</h1>
                                <br />
                                   <p>
                                                                      بإمكانك تحميل مراحل تطوير منتج تقني من الرابط التالي:

                                   </p>

                                <br />
                                <br />
                                <h6> 
                                    <a href="https://abdanazure.blob.core.windows.net/buildapp/مراحل تطوير منتج تقني.pdf" target="_blank">مراحل تطوير منتج تقني</a>

                                </h6>
    <br />
    <br />
                                <hr />

    <br />


                                <br />
    <P>هل تريد بناء منتج تقني ولديك استفسار إذاً انت بالمكان الصحيح،</p><p> لا تتردد بالتواصل معنا.  </P>
                                <p>
                                    الهاتف:
                                    <span>

                                        <a href="tel:0097126276897">0097126276897</a>
                                    </span>
                                </p>
    <p>موبيل: 
        <span>
        
        <a href="tel:00971507746099">00971507746099</a>
        </span> 
        </p>
    <p>
        واتساب: <span>
            <a href="https://wa.me/971507746099?text=مرحباً %20" target="_blank" >00971507746099</a>
            
        </span>
    </p>

                                <p>البريد الإلكتروني:  <span><a href="mailto:info@technexus.ae">info@technexus.ae</a></span></p>


</div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
            <div class="container py-2 copy white"><a asp-action="ContactUs" asp-controller="Home" class="container py-2 copy white">تك نكزس للحلول التقنية - ابوظبي - اتصل بنا</a></div>
        </div>
    </div>
    <!-- /background-image -->

