
@{
    ViewData["Title"] = @_localization.Getkey("str-it-title");
    Layout = "~/Views/Shared/_Master.cshtml";
}


<br />
<br />
<br />
<div dir=@_localization.Getkey("lang_dir")>
    <div class="p-5">

    <div class="my-2">
        <div class="px-1">

                <div class="bg-light border p-5">
                    <span class="card-img py-5">
                        <svg xmlns="http://www.w3.org/2000/svg" style="fill:#0054A6;width:70px;height:70px;" class="bi bi-easel icon-resized" viewBox="0 0 16 16">
                            <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"></path>
                        </svg>
                    </span>
                    <div class="card-body py-2">
                        <h1 class="card-title mt-3 text-uppercase" style="color:#0054A6;">@_localization.Getkey("str-it-title")</h1>
                        <p class="card-text mt-4 pb-3">@_localization.Getkey("str-it-content")</p>
                    </div>
                    <a asp-controller="Home" asp-action="ContactUs" dir=@_localization.Getkey("lang_dir") class="text-light btn btn-primary me-1 p-3 text-capitalize lift fs-4" style="background-color: rgb(0, 84, 166)!important;">
                        @_localization.Getkey("str-get-free-consultation")   &nbsp;  <i class="fa-solid fa-arrow-left text-light d-none d-md-inline ms-2"></i>
                    </a>
                </div>
        </div>
    </div>
    </div>
    <Partial name="~/Views/Home/_ContactUsPartial.cshtml" />
</div>