@model Person
@{
    ViewData["Title"] = "Abdan.com";
}
<form method="post" dir="rtl">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> تحميل دليل بناء منتج تقني </h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="PersonName" ></label>
            <input asp-for="PersonName" type="text" class="form-control" />
            <span asp-validation-for="PersonName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonPhone"></label>
            <input asp-for="PersonPhone" type="tel" class="form-control" />
            <span asp-validation-for="PersonPhone" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="PersonEmail"></label>
            <input asp-for="PersonEmail" type="email" class="form-control" />
            <span asp-validation-for="PersonEmail" class="text-danger"></span>

        </div>

        <div class="mb-3" >
            <div class="form-group form-check">

                <label asp-for="PersonSubscription" class="form-check-label"></label>
                <input type="checkbox" asp-for="PersonSubscription" name="PersonSubscription" checked class="form-check-input" />

                </div>
 
        </div>

		<button type="submit" class="btn btn-primary" style="width:100%">تحميل دليل بناء منتج تقني</button>
  
    </div>



</form>




<div class="background-image"  data-background="url(/img/betler/main_bg_2.jpg)">
	<div class="min-vh-100 d-flex flex-column opacity-mask" data-opacity-mask="rgba(0, 84, 166, 0.6)">
	        <div class="container my-auto">
	            <div class="row">
	                <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
	                    <div class="panel header_2 center">
	                        <figure class="add_bottom_30">
	                            <a href="#0"><img src="~/img/betler/logo_black.svg" width="46" height="40" alt=""></a>
	                        </figure>
	                        <form class="input_style_2" method="post">
	                            <div class="form-group">
	                                <label for="full_name">Full Name</label>
	                                <input type="text" name="full_name" id="full_name" class="form-control">
	                            </div>
	                            <div class="form-group mb-4">
	                                <label for="email_address">Email Address</label>
	                                <input type="email" name="email_address" id="email_address" class="form-control">
	                            </div>
	                            <h6>How was the service provided?</h6>
	                            <div class="review_block_numbers mb-4">
	                                <ul class="clearfix">
	                                    <li>
	                                        <div class="container_numbers">
	                                            <input type="radio" id="very_bad_1" name="question_1" value="Very bad">
	                                            <label class="radio very_bad" for="very_bad_1">1</label>
	                                        </div>
	                                    </li>
	                                    <li>
	                                        <div class="container_numbers">
	                                            <input type="radio" id="bad_1" name="question_1" value="Bad">
	                                            <label class="radio bad" for="bad_1">2</label>
	                                        </div>
	                                    </li>
	                                    <li>
	                                        <div class="container_numbers">
	                                            <input type="radio" id="average_1" name="question_1" value="Average">
	                                            <label class="radio average" for="average_1">3</label>
	                                        </div>
	                                    </li>
	                                    <li>
	                                        <div class="container_numbers">
	                                            <input type="radio" id="good_1" name="question_1" value="Good">
	                                            <label class="radio good" for="good_1">4</label>
	                                        </div>
	                                    </li>
	                                    <li>
	                                        <div class="container_numbers">
	                                            <input type="radio" id="very_good_1" name="question_1" value="Very Good">
	                                            <label class="radio very_good" for="very_good_1">5</label>
	                                        </div>
	                                    </li>
	                                </ul>
	                                <div class="row justify-content-between mb-3">
	                                    <div class="col-4">
	                                        <small><em>Very Bad</em></small>
	                                    </div>
	                                    <div class="col-4 text-end">
	                                        <small><em>Very Good</em></small>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="message_field">Your Review</label>
	                                <textarea name="message_field" id="message_field" class="form-control" style="height:150px;"></textarea>
	                            </div>
	                            <div class="form-group terms mb-4">
								    <label class="container_check">I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#terms-txt">Terms and Privacy Policy</a>.
								        <input type="checkbox" name="agree" id="agree">
								        <span class="checkmark"></span>
								    </label>
								</div>
	                            <button type="submit" class="btn_1 full-width">Submit</button>
	                        </form>
	                    </div>
	                </div>
	                <!-- /col -->
	            </div>
	            <!-- /row -->
	        </div>
	        <!-- /container -->
	        <div class="container py-2 copy white">© Betler - All Rights Reserved.</div>
	    </div>
	</div>
	<!-- /background-image -->

	<!-- Modal terms -->
	<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
					<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	



@section Scripts {
    @{
        <partial anme="_ValidationScriptsPartial"></partial>

    }
}



       