@model Person
@{
    ViewData["Title"] = "Abdan.com";
}
<form method="post" dir="rtl">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> تحميل دليل بناء منتج تقني </h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="PersonName" ></label>
            <input asp-for="PersonName" type="text" class="form-control" />
            <span asp-validation-for="PersonName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonPhone"></label>
            <input asp-for="PersonPhone" type="tel" class="form-control" />
            <span asp-validation-for="PersonPhone" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="PersonEmail"></label>
            <input asp-for="PersonEmail" type="email" class="form-control" />
            <span asp-validation-for="PersonEmail" class="text-danger"></span>

        </div>

        <div class="mb-3" >
            <div class="form-group form-check">

                <label asp-for="PersonSubscription" class="form-check-label"></label>
                <input type="checkbox" asp-for="PersonSubscription" name="PersonSubscription" checked class="form-check-input" />

                </div>
 
        </div>

		<button type="submit" class="btn btn-primary" style="width:100%">تحميل دليل بناء منتج تقني</button>
  
    </div>



</form>





	



@section Scripts {
    @{
        <partial anme="_ValidationScriptsPartial"></partial>

    }
}



       