@model Person

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Delete Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="PersonName" ></label>
            <input asp-for="PersonName" disabled class="form-control" />
            <span asp-validation-for="PersonName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonPhone"></label>
            <input asp-for="PersonPhone" disabled class="form-control" />
            <span asp-validation-for="PersonPhone" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="PersonEmail"></label>
            <input asp-for="PersonEmail" disabled class="form-control" />
            <span asp-validation-for="PersonEmail" class="text-danger"></span>

        </div>
     
        <div class="mb-3">
            <label asp-for="PersonSubscription"></label>
            <input asp-for="PersonSubscription" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-danger style="width:150px">Delete</button>
        <a asp-controller="Person" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to
        </a>
    </div>
</form>
@section Scripts {
    @{
        <partial anme="_ValidationScriptsPartial"></partial>

    }
}



       