@model MKT.Website.UI.ViewModels.LoginVM



<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <div id="myModalContent">
                <section class="py-5">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-10">
                                <p class="text-center h2 fw-bold my-3  mx-md-2" style="color:#0054A6;">Sign in</p>
                                
                                <div>
                                    <form id="loginForm">
                                        <div class="form-group mb-3">
                                            <label asp-for="UserName" class="control-label"></label>
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                                            </label>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="text-center text-danger" style="display: none;" id="validationErrorMessage"></div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <button id="login-button" class="btn py-2 my-4 w-100" style="text-decoration:none; background-color:#0054A6;color:white">Login</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#loginForm").submit(function (event) {
            event.preventDefault();
            var loginModel = {
                UserName: $("#UserName").val(),
                Password: $("#Password").val(),
                RememberMe: $("#RememberMe").prop("checked")
       
            };

            if (!loginModel.UserName || !loginModel.Password) {

                $("#validationErrorMessage").text("Username and Password is required");
                $("#validationErrorMessage").show();

            }

            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: 'POST',
                data: loginModel,
                success: function (result) {
                    
                    if(result.success)
                    {
                        alert("Login successful");
                        window.location.href = "/en/Company/Index";
                    }
                    else{
                    $("#validationErrorMessage").text("Invalid UserName or Password");
                    $("#validationErrorMessage").show();
                    }
                },
                error: function () {
                   
                }
            });
        });
    });
</script>
