<div id="clients" class="my-5 py-5"></div>
<div  style="margin-top:400px" class="text-center my-5">
	<div class="container-fluid">

		<div class="row ">
			<div class="col my-5">
				<div style="color:#0054A6">
					<h2 class="text-uppercase" style="color:#0054A6">@_localization.Getkey("str-title-clients")</h2>

					<div class="container">
						<div class=" border-bottom border-5 mx-auto" style="width: 100px; "> 
					</div>
					</div>
				</div>
			</div>
		</div>

	<div class="slider">
			<div class="slide-track" style=@_localization.Getkey("str-animation-direction")>

				<div class="slide  ">
					<img src="/img/ClientLogos/bunya-logo.png" height="150" width="300" alt="bunya" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/lazourdy-Logo.jpg" height="140" width="280" alt="lazourdy" />
				</div>
				<div class="slide  align-items-center ">
					<img src="/img/ClientLogos/promax-Logo.png" height="110" width="300" alt="promax" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/royal-group-logo.png" height="130" width="300" alt="royal-group" />
				</div>
				<div class="slide align-items-center ">
					<img src="/img/ClientLogos/global-beverage-company-logo.png" height="130" width="300" alt="global-beverage-company" />
				</div>

				<div class="slide ">
					<img src="/img/ClientLogos/bawabt-alsham-logo.jpg" height="150" width="170" alt="bawabt-alsham" />
				</div>
				

			</div>
   </div>


	</div>

</div>













