<div id="clients" class="my-5 py-5"></div>
<div  style="margin-top:400px" class="text-center my-5">
	<div class="container-fluid">

		<div class="row ">
			<div class="col my-5">
				<div style="color:#0054A6">
					<h1 class="text-uppercase" style="color:#0054A6">@_localization.Getkey("str-title-clients")</h1>

					<div class="container">
						<div class=" border-bottom border-5 mx-auto" style="width: 100px; "> 
					</div>
					</div>
				</div>
			</div>
		</div>

	<div class="slider">
			<div class="slide-track" style=@_localization.Getkey("str-animation-direction")>

				<div class="slide  ">
					<img src="/img/ClientLogos/BUNYA LOGO.png" height="150" width="300" alt="2" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/Lazourdy-Logo-_500-×-250-px_.jpg" height="140" width="280" alt="3" />
				</div>
				<div class="slide  align-items-center ">
					<img src="/img/ClientLogos/Promax Logo[7296].png" height="110" width="300" alt="4" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/royal-group-new.png" height="130" width="300" alt="5" />
				</div>
				<div class="slide align-items-center ">
					<img src="/img/ClientLogos/slider_009.png" height="80" width="300" alt="6" />
				</div>

				<div class="slide ">
					<img src="/img/ClientLogos/Bawab-60x40.jpg" height="150" width="170" alt="1" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/BUNYA LOGO.png" height="150" width="300" alt="2" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/Lazourdy-Logo-_500-×-250-px_.jpg" height="140" width="280" alt="3" />
				</div>
				<div class="slide align-items-center  ">
					<img src="/img/ClientLogos/Promax Logo[7296].png" height="110" width="300" alt="4" />
				</div>
				<div class="slide  ">
					<img src="/img/ClientLogos/royal-group-new.png" height="130" width="300" alt="5" />
				</div>
				<div class="slide  align-items-center ">
					<img src="/img/ClientLogos/slider_009.png" height="80" width="300" alt="6" />
				</div>

			</div>
   </div>


	</div>

</div>













