<div id="MainSentances" class="main-sentances"  style="text-align:center; font-size: 2.5vw;" dir=@_localization.Getkey("lang_dir")>
    @_localization.Getkey("str_main_message_1") 
   
    <br />
    <span class="auto-type"> </span>
    <br />
</div>