<div id="technologies" class="my-5 py-5"></div>
<div style="margin-top:400px" class="text-center my-5">
	<div class="container-fluid">
		<div class="row ">
			<div class="col my-5">
				<div style="color:#0054A6">
					<h1 class="text-uppercase" style="color:#0054A6">@_localization.Getkey("str-title-technology")</h1>
				
					<div class="container"><div class=" border-bottom border-5 mx-auto" style="width: 80px; "> </div></div>
				</div>
			</div>
		</div>

		<div class="slider1">
			<div class="slide-track1">

				<div class="slide1">
					<img src="/img/TechLogos/512px-Ionic_Logo.svg.png" height="70" width="210" alt="2" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/Angular_full_color_logo.svg.png" height="100" width="100" alt="3" />
				</div>
				<div class="slide1 justify-content-start">
					<img src="/img/TechLogos/Google-flutter-logo.svg.png" height="70" width="210" alt="4" />
				</div>
				
				<div class="slide1">
					<img src="/img/TechLogos/Kotlin_logo.svg.png" height="60" width="210" alt="5" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/NET_Core_Logo.svg.png" height="100" width="100" alt="8" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/Microsoft_Azure_Logo.svg.png" height="60" width="210" alt="6" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/React-icon.svg.png" height="100" width="100" alt="9" />
				</div>
				<div class="slide1 justify-content-start">
					<img src="/img/TechLogos/Microsoft_logo_(2012).svg.png" height="70" width="220" alt="7" />
				</div>
				
				<div class="slide1">
					<img src="/img/TechLogos/Swift_logo.svg.png" height="70" width="200" alt="10" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/1024px-Node.js_logo.svg.png" height="80" width="130" alt="1" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/512px-Ionic_Logo.svg.png" height="70" width="210" alt="2" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/Angular_full_color_logo.svg.png" height="100" width="100" alt="3" />
				</div>
				<div class="slide1 justify-content-start">
					<img src="/img/TechLogos/Google-flutter-logo.svg.png" height="70" width="210" alt="4" />
				</div>
				
				<div class="slide1">
					<img src="/img/TechLogos/Kotlin_logo.svg.png" height="60" width="210" alt="5" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/NET_Core_Logo.svg.png" height="100" width="100" alt="8" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/Microsoft_Azure_Logo.svg.png" height="60" width="210" alt="6" />
				</div>
				<div class="slide1">
					<img src="/img/TechLogos/React-icon.svg.png" height="100" width="100" alt="9" />
				</div>
				<div class="slide1 justify-content-start">
					<img src="/img/TechLogos/Microsoft_logo_(2012).svg.png" height="70" width="220" alt="7" />
				</div>
				
				<div class="slide1">
					<img src="/img/TechLogos/Swift_logo.svg.png" height="70" width="200" alt="10" />
				</div>
				

			</div>
		</div>


	</div>

</div>