@{
    Layout = "~/Views/Shared/_Client.cshtml";
    ViewData["Title"] = "إتصل بنا";
}


            <div class="container my-auto">
                <div class="row">
                    <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
                        <div class="panel header_2 center">
                            <figure class="add_bottom_30">
                                <a asp-action="ContactUs" asp-controller="Home">
                                    <img src="~/img/TechNexus/TechNexus-MKT-App.svg" width="100%" height="100%" alt="">
                                </a>
                            </figure>


<div class="text-center">
                                <h1>اهلاً بك</h1>


    <br />
    <br />
                                <P>هل تريد بناء بناء منتج تقني وتحتاج الى استشارة او استفسار إذاً انت في المكان الصحيح، لا تتردد بالتواصل معنا باحد الطرق التالية  </P>

                                <hr />

    <br />


                                <br />
                                <p>
                                    الهاتف:
                                    <span>

                                        <a href="tel:0097126276897">0097126276897</a>
                                    </span>
                                </p>
    <p>موبيل: 
        <span>
        
        <a href="tel:00971507746099">00971507746099</a>
        </span> 
        </p>
    <p>
        واتساب: <span>
            <a href="https://wa.me/971507746099?text=مرحباً %20" target="_blank" >00971507746099</a>
            
        </span>
    </p>

                                <p>البريد الإلكتروني:  <span><a href="mailto:info@technexus.ae">info@technexus.ae</a></span></p>


</div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
 

