@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewData["Title"] = @_localization.Getkey("str_contact_title");
}

<br />
<br />
<br />
<br />

<div dir=@_localization.Getkey("lang_dir")>

    <Partial name="_ContactUsPartial" />
</div>
