@{
    Layout = "~/Views/Shared/_Client.cshtml";
    ViewData["Title"] = "تك نكزس للحلول التقنية - ابوظبي";
}



<div class="container my-auto">
    <div class="row">
        <div class="col-md-9 col-lg-7 col-xl-5 mx-auto my-4">
            <div class="panel header_2 center">
                <figure class="add_bottom_30">
                    <a asp-action="BuildAppGuid" asp-controller="Funnel">
                        <img src="~/img/TechNexus/TechNexus-MKT-App.svg" width="100%" height="100%" alt="">
                    </a>
                </figure>


                <div class="text-center">
                    <h1>اهلاً بك</h1>


                    <br />
                    <br />
                    <P style="line-height: 2;">هل تريد بناء بناء منتج تقني وتحتاج الى استشارة او استفسار إذاً انت في المكان الصحيح، لا تتردد بالتواصل معي باحد الطرق التالية وساحاول مساعدتك في ذلك قدر المستطاع </P>

                    <hr />



                    <br />

                    <table>
                        <tr>
                            <td style="width: 150px; text-align:end">
                                <p>
                                    الهاتف:
                                </p>

                            </td>
                            <td>
                                <p>
                                    <span>
                                        <a href="tel:0097126276897">0097126276897</a>
                                    </span>
                                </p>
                               
                            </td>
                        </tr>
                                   <tr>
                            <td style="text-align:end">
                                <p>
                                    موبيل:
                                </p>


    </td>
                            <td>
                                   <p>
                        <span>

                            <a href="tel:00971507746099">00971507746099</a>
                        </span>
                    </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:end">
                                <p>
                        واتساب: 
                        </p>
                            </td>
                            <td>
                                <p>
                                    <span>
                                        <a href="https://wa.me/971507746099?text=مرحبا%20" target="_blank">00971507746099</a>

                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:end">
                                <p>البريد الإلكتروني:</p>
                            </td>
                            <td>
                                <p>  <span><a href="mailto:info@technexus.ae">info@technexus.ae</a></span></p>

                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
