@using MKT.Website.UI.Models;
@using Newtonsoft.Json;
@{var personSchema = new PersonSchema
{
    Name = "Tech Nexus",
    Url = "https://technexus.ae/",
    Telephone = "00971507746099",
    Email = "info@technexus.ae"
};
}

@{var json = JsonConvert.SerializeObject(personSchema);}


@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewData["Title"] = _localization.Getkey("str_title");
}
<Partial name="_MainPartial" />

<div dir=@_localization.Getkey("lang_dir")>
<Partial name="_AboutPartial"/>

<Partial name="_ServicesPartial"/>
</div>
<Partial name="_TechnologiesPartial" />

<Partial name="_ClientsPartial"/>

@*<div dir=@_localization.Getkey("lang_dir")>

<Partial name="_ContactUsPartial" />
</div>
*@


<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script>
    var typed = new Typed('.auto-type', {
        stringsElement: '#typed-strings',
        strings: [@Html.Raw(_localization.Getkey("str_main_message_part_2"))],
        typeSpeed: 100,
        backSpeed: 80,
        backDelay: 200,
        startDelay: 100,
        loop: true,
        loopCount: Infinity,
        showCursor: true,
        cursorChar: '|',
        autoInsertCss: true,
        contentType: 'html',
    });
</script>

<script type="application/ld+json">
    @Html.Raw(json)
</script>


