
@{
    ViewData["Title"] = "TesterPage";
    Layout = "~/Views/Shared/_MasterTest.cshtml";
}

<h1>TesterPage</h1>

<div id="preloader">
<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

<div id="loader_form">
	<div data-loader="circle-side-2"></div>
</div><!-- /loader_form -->

<div class="container-fluid">
	<div class="row row-height">
		<div class="col-lg-6 background-image p-0" data-background="url(img/main_bg_4.jpg)">
			<div class="content-left-wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<a href="#0" id="logo"><img src="img/logo.svg" alt="" width="46" height="40"></a>
				<div id="social">
					<ul>
						<li><a href="#0"><i class="social_facebook"></i></a></li>
						<li><a href="#0"><i class="social_twitter"></i></a></li>
						<li><a href="#0"><i class="social_instagram"></i></a></li>
					</ul>
				</div>
				<!-- /social -->
				<div>
					<h1>Betler Contact Form</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<a href="https://www.youtube.com/watch?v=3yQmBLeOc7A" class="btn_1 rounded pulse_bt plus_icon btn_play">Play Video Intro<i class="arrow_triangle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 d-flex flex-column content-right">
			<div class="container my-auto py-5">
				<div class="row">
					<div class="col-lg-9 col-xl-7 mx-auto">
						<h4 class="mb-3">Contact Us</h4>
						<form class="input_style_1" method="post">
							<input id="website" name="website" type="text" value="">
							<!-- Leave for security protection, read docs for details -->
							<div class="form-group">
								<label for="full_name">Full Name</label>
								<input type="text" name="full_name" id="full_name" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="email_address">Email Address</label>
								<input type="email" name="email_address" id="email_address" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="message_field">Message</label>
								<textarea name="message_field" id="message_field" class="form-control" style="height: 150px" required></textarea>
							</div>
							<div class="form-group terms mb-4">
								<label class="container_check">
									I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#terms-txt">Terms and Privacy Policy</a>.
									<input type="checkbox" name="agree" id="agree" required>
									<span class="checkmark"></span>
								</label>
							</div>
							<button type="submit" class="btn_1 full-width">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="container pb-3 copy">© Betler - All Rights Reserved.</div>
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->
<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
				<p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn_1" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
