<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Tech Nexus Technology Solutions - Your Tech partner in Abu Dhabi">
    <meta name="author" content="Tech Nexus">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WMFRB3D');</script>
    <!-- End Google Tag Manager -->
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/css/betler/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/css/betler/vendors.css" rel="stylesheet">
    <link href="~/css/betler/style.css" rel="stylesheet">

    <!-- EXTRA CSS RTL STYLES ONLY -->
    <link href="~/css/betler/extra_rtl_styles.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/css/betler/custom.css" rel="stylesheet">

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 
</head>
<body dir="rtl">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMFRB3D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div>
        <div class="background-image" data-background="url(../img/betler/main_bg_2.jpg)">
            <div class="min-vh-100 d-flex flex-column opacity-mask" data-opacity-mask="rgba(0, 84, 166, 0.6)">

                @RenderBody()

            </div>
        </div>
    </div>


    <footer class=" text-center text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" dir=@_localization.Getkey("lang_dir")>
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>@_localization.Getkey("str_Get_connected")</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/TechNexus.ae" title="facebook-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#30A2FF'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/TechNexusae" title="twitter-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#00ACEE'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.google.com/search?authuser=0&hl=en&gl=ae&output=search&q=Tech+Nexus+Technology+Solutions+-+%D8%AA%D9%8A%D9%83+%D9%86%D9%83%D8%B2%D8%B3+%D9%84%D9%84%D8%AD%D9%84%D9%88%D9%84+%D8%A7%D9%84%D8%AA%D9%82%D9%86%D9%8A%D8%A9&ludocid=7684089176108624910&gsas=1&lsig=AB86z5VXZo19CRcSqtkQ3z_JItSl&ved=1i%3A3%2Ct%3A109124%2Ce%3A2%2Cp%3AinByZIqgHYmQkdUP_uSd6A4%3A53#" title="google-map-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#0F9D58'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com/TechNexus.ae" title="instagram-TechNexus.ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#FF0060'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/tech-nexus-ae" title="linkedin-tech-nexus-ae" target="_blank" class="me-3 fs-3" style="color:#6c757d" onmouseover="this.style.color='#30A2FF'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-linkedin"></i>
                </a>

            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2023
            <a class=" fw-bold" style="color: rgb(0, 84, 166);" title="technexus-site-url" href="https://technexus.ae/">@_localization.Getkey("str_title_footer")</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- COMMON SCRIPTS -->
    <script src="~/js/betler/common_scripts.js"></script>
    <script src="~/js/betler/common_func.js"></script>

    <!-- Google Maps -->

    <script src="~/js/map.js"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_zOsSF89_TDKfYKTkbEkoKGVEu9fmGH4&libraries=places&callback=initMap">
    </script>


</body>
</html>
