
@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exception</title>

</head>
<body>
    <h3>an error occured while processing your request. the support team is notified and we are working to fix it. </h3>
    <h5>please contact us on info@technexus.ae</h5>
    <hr />
    <div class="alert alert-danger">
        <h5 > an error occured while processing your request. the support tem is notified and we are working to fix it.</h5>
        <hr />
        <h5>please contact us on <a href="mailto:info@technexus.ae" >info@technexus.ae</a> <h5>
    </div>

@*    <h5>Exception Details:</h5>

    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr />
        <p>@ViewBag.ExceptionPath</p>
        </div>

    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.ExceptionMessage</p>
    </div>

    <div class="alert alert-danger">
        <h5>Exception Stack Trace</h5>
        <hr />
        <p>@ViewBag.ExceptionStackTrace</p>
    </div>*@


</body>
</html>
